.width {
  width: 90px;
  text-align: center;
}

.header {
  text-align: center;
  margin: 20px;
  font-family: "Ribeye", cursive;
  color: black;
  text-decoration: underline;
}

.input-group {
  border: 1px solid darkgrey;
}

.time-date {
  text-align: center;
  margin: 30px auto;
}

.background {
  background-image: url(../images/neutral-2852878_960_720.jpg);
}

.container {
  font-family: "IM Fell English SC", serif;
}

.present {
  background: rgb(133, 201, 133) !important;
}

.future {
  background: lightblue !important;
}

.past {
  background: lightgrey !important;
}
